<phpunit>
  <testsuites>
    <testsuite name="SZFW Controller Test">
      <directory>controllers</directory>
    </testsuite>
    <testsuite name="SZFW Class Test">
      <directory>classes</directory>
    </testsuite>
    <testsuite name="SZFW Model Test">
      <directory>models</directory>
    </testsuite>
    <testsuite name="SZFW Library Test">
      <directory>libraries</directory>
    </testsuite>
    <testsuite name="SZFW Helper Test">
      <directory>helpers</directory>
    </testsuite>
  </testsuites>
</phpunit>
