# ignore application config
applications/base/config/

# ignore caches
etc/caches/session/*
etc/caches/smarty/*
etc/caches/twig/*
etc/logs/*

#ignore packages
seezoo/packages/*

# ignore IDE project files
.project
.settings
.nbproject
.buildpath
*.DS_Store
*Thumbs.db
