# ignore application config
seezoo/app/config/

# ignore caches
seezoo/etc/caches/session/*
seezoo/etc/caches/smarty/*
seezoo/etc/caches/twig/*
seezoo/etc/logs/*

#ignore packages
seezoo/packages/*

# ignore IDE project files
.project
.settings
.nbproject
*.DS_Store
*.Thumbs.db
